<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/039898e76e.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="header-top">
            <a href="index.html"class="logo-mercado-liebre">
                <img src="images/logo-mercado-liebre.svg" alt="Logotipo de Mercado Liebre">
            </a>
            <div class="search-ml">
                <input type="text" name="Barra-de-busqueda" id="search">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

            <p class="recommendation-home">
                <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjetas de credito
            </p>
        </div>
        <div class="header-bottom">
            <nav>
                <ol>
                    <a href="">
                        <li>Ofertas</li>
                    </a>
                    <a href="">
                        <li>Tiendas Oficiales</li>
                    </a>
                    <a href="">
                        <li>Vender</li>
                    </a>
                    <a href="">
                        <li>Ayuda</li>
                    </a>
                </ol>
                
            </nav>
            <nav>
                <ol>
                    <a href="">
                        <li>Crea tu cuenta <i class="fa-regular fa-address-card"></i></li>
                    </a>
                    <a href="">
                        <li>Ingresa <i class="fa-solid fa-right-to-bracket"></i></li>
                    </a>
                    <a href="">
                        <li>Mis compras <i class="fa-solid fa-basket-shopping"></i></li>
                    </a>
                </ol>
            </nav>
            <div class="home-banner-ml">
                <img src="images/img-home-banner.jpg" alt="imagen del home Meli" >
            </div>
        </div>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>

    </header>
    <main>
        <section>
            <h2>Basado en tu ultima busqueda</h2>
            <section class="list-product">
                <div class="producto">
                    <img src="images/img-cafetera-moulinex.jpg" alt="Imagen de la Cafetera moulinex">
                    <div class="box-product">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price-and-discount">
                            <p class="price-product">$6.770</p>
                            <p class="discount-product">40% OFF</p>
                            
                        </div>
                        <h3>Cafetera Moulinex</h3>
                    </div>
    
                </div>
                <div class="producto">
                    <img src="images/img-macbook-pro-2019.jpg" alt="Imagen del MacBook Pro 2019">
                    <div class="box-product">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price-and-discount">
                            <p class="price-product">$230.000</p>
                            <p class="discount-product">20% OFF</p>
                            
                        </div>
                        <h3>MacBook Pro 2019</h3>
                    </div>
    
                </div>
                <div class="producto">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">
                    <div class="box-product">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price-and-discount">
                            <p class="price-product">$70.500</p>
                            <p class="discount-product">10% OFF</p>
                            
                        </div>
                        
                        <h3>Samsung Galaxy S10</h3>
                    </div>
    
                </div>
                <div class="producto">
                    <img src="images/img-tv-samsung-smart.jpg" alt="Imagen del Smart TV">
                    <div class="box-product">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price-and-discount">
                            <p class="price-product">$23.200</p>
                            <p class="discount-product">5% OFF</p>
                            
                        </div>
    
                     
                        <h3>SmartTV Samsung 43"</h3>
                    </div>
                </div>

            </section>  
        </section>

        <section>
            <h2>Seccion de Ofertas</h2>
            
            <section class="list-product">
                <div class="producto">
                    <img src="images/img-cafetera-moulinex.jpg" alt="Imagen de la Cafetera moulinex">
                    <div class="box-product">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price-and-discount">
                            <p class="price-product">$6.770</p>
                            <p class="discount-product">40% OFF</p>
                            
                        </div>

                        <h3>Cafetera Moulinex</h3>
                    </div>
    
                </div>
                <div class="producto">
                    <img src="images/img-macbook-pro-2019.jpg" alt="Imagen del MacBook Pro 2019">
                    <div class="box-product">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price-and-discount">
                            <p class="price-product">$230.000</p>
                            <p class="discount-product">20% OFF</p>
                            
                        </div>
                        <h3>MacBook Pro 2019</h3>
                    </div>
    
                </div>
                <div class="producto">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">
                    <div class="box-product">
                        <div class="price-and-discount">
                            <p class="price-product">$70.500</p>
                            <p class="discount-product">10% OFF</p>
                            
                        </div>
                        <h3>Samsung Galaxy S10</h3>
                    </div>
    
                </div>
                <div class="producto">
                    <img src="images/img-tv-samsung-smart.jpg" alt="Imagen del Smart TV">
                    <div class="box-product">
                        <i class="fa-solid fa-truck"></i>
                        <div class="price-and-discount">
                            <p class="price-product">$23.200</p>
                            <p class="discount-product">5% OFF</p>
                            
                        </div>

                        <h3>SmartTV Samsung 43"</h3>
                    </div>
                </div>

            </section>  
        </section>
    </main>
    <footer>
        <div>
            <i class="fa-solid fa-credit-card"></i>
        </div>
        <h3>Paga con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
            seguro!</p>
        <div>
            <i class="fa-solid fa-gift"></i>
        </div>
        <h3>Envio gratis desde $2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
            Mercado Puntos.</p>
        <div>
            <i class="fa-solid fa-user-shield"></i>
        </div>
        <h3>Seguridad, de principio a fin</h3>
        <p>No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.
        </p>
        <p class="p-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>

</html>