* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
header, main, footer {
    width: 100%;
}
header {
    background-color: #EAC926;
}
p{
    font-size: 12px;
}
h2 {
    font-size: 24px;
}

.icons-app {
    width: 16px;
    height: auto;
}
.logo-mercado-liebre {
    width: 20%;
}
.price-product {
    font-size: 18px;
}
.discount-product {
    font-size: 16px;
}