* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
header, main, footer {
    width: 100%;
    padding: 10px;
    margin: auto;
}
header {
    background-color: #EAC926;
}
p{
    font-size: 12px;
}
h2 {
    font-size: 24px;
}
ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}


.icons-app {
    width: 2em;
    margin-bottom: 10px;
}
.logo-mercado-liebre {
    width: 20%;
}
.recommendation-home {
    text-align: center;
}
.burger-menu {
    text-align: center;

}
.home-banner-ml {
    width: 100%;
}

.price-product {
    font-size: 18px;
}
.discount-product {
    font-size: 16px;
}
.producto {
    text-align: center;
}